{{paper-text label='Title' value=book.title required=true}}

{{paper-text label='Author' value=book.author required=true}}

<md-input-group class='md-default-theme'>
  <label>description</label>
  {{textarea value=book.description cols=80 rows=8 required=true}}
</md-input-group>

{{paper-text label='Price' value=book.price required=true}}
