{{#paper-toolbar}}
  <div class='md-toolbar-tools'>
    {{#paper-sidenav-toggle classNames='paper-sidenav-toggle menu-sidenav-toggle'}}
      {{paper-icon icon='menu'}}
    {{/paper-sidenav-toggle}}
    {{yield}}
  </div>
{{/paper-toolbar}}
